#nav-content{
    margin-left: 80%;
    
    
}

#nav-content a:hover {
    color: red !important;
  }

#navbar{
   position: fixed;
    z-index:5;
    height: 50px;
  width: 100vw;
  
}



#logo{
    width:40px;
    height:40px;
    
}