:root {
    --red: #ca3e47;
    --orange: #f98500;
    --white: #E1E0E0;
    --salmon: #C6644C;
    --gray: #BBA397;
    --black:#313131;
    --pink: #E74CCB;
    --font-one: 'Roboto', sans-serif;


}